<div *ngIf="error" class="container">
  <mat-card class="loading" appearance="outlined" color="red">
    <mat-card-content>
      <h1>Oops, an error</h1>
      <p style="color: red;">Error: {{error}}</p>
    </mat-card-content>
  </mat-card>
</div>


<div *ngIf="movies" class="container">
  <mat-card class="example-card" appearance="outlined" *ngFor="let movie of movies">
    <img mat-card-image [src]="movie.poster" [alt]="movie.title">
    <mat-card-content>
      <h1>{{movie.title}}</h1>
      <p>Starts at: {{utils.formatDate(movie.startDate)}}</p>
      <p>Director: {{movie.director.name}}</p>
      <p *ngIf="movie.movieGenres?.length">Žanr:  
        <span *ngFor="let genre of movie.movieGenres; let last = last">
          {{ genre.genre.name }}{{ last ? '' : ', ' }}
        </span>
      </p>
      <p>Trajanje: {{movie.runTime}}min</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/details/',movie.movieId]"><i class="fa-solid fa-up-right-from-square"></i> Details</a>
      <a mat-button [routerLink]="['/details/'+movie.movieId+'/order']"> 
        <i class="fa-solid fa-cart-shopping"></i> Book Now
    </a>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!movies && !error" class="container">
  <mat-card class="loading" appearance="outlined">
    <img mat-card-image src="/assets/loading.gif" width="400">
    <mat-card-content>
      <h1>Please wait</h1>
      <p>We are processing your data...</p>

    </mat-card-content>
  </mat-card>
  
</div>